body{
  margin: 0px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  margin: 0px;
  
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
