.landing-hero {
    padding-top: calc(48px + 40px + 20px);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.hero-img {
    max-width: 100%;
    height: auto;
}

.hero-text {
    margin-top: 40px;
    margin-bottom: 20px;
}

.hero-heading-and-text > p {
    margin-bottom: 20px;
}

.hero-heading-and-text > .heading-1 {
    margin-top: 30px;
}

.highlighted {
    background-image: url("../../../public/images/loop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-position: center center;
}


@media screen and (min-width: 1024px) {
    .landing-hero {
        padding-top: calc(48px + 40px + 40px);
        padding-bottom: 80px;
        padding-left: 80px !important;
        padding-right: 80px !important;
        display: flex;
        flex-direction: row-reverse;
        gap: 40px;
        align-items: center;
    }

    .landing-hero > div {
        width: 50%;
    }

    .hero-heading-and-text {
        display: flex;
        flex-direction: column;
    }

    .hero-heading-and-text > .primary-button {
        width: fit-content;
    }
}

@media screen and (min-width: 768px) { 
    .landing-hero {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media screen and (max-width: 350px) {
    .hero-heading-and-text > .heading-1 {
        font-size: 3.125rem;
    }
}